<!DOCTYPE html>
<html lang="en">
<head>
  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <!-- site metas -->
  <title>Album</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- bootstrap css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <!-- style css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <!-- Responsive-->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/responsive.css') }}">
  <!-- fevicon -->
  <link rel="icon" href="{{ url_for('static',filename='images/fevicon.png') }}" type="image/gif" />
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.mCustomScrollbar.min.css') }}">
  <!-- Tweaks for older IEs-->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!-- owl stylesheets -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- header section start -->
<div class="header_section">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if(giris_yapilmis) %}
        <a class="logo" href="/homePage"><img src="{{ url_for('static',filename='images/logo.png') }}"></a>
    {% endif %}
    {% if(not giris_yapilmis) %}
        <a class="logo" href="/"><img src="{{ url_for('static',filename='images/logo.png') }}"></a>
    {% endif %}
    <h1 class="head">MUSIC REVIEWER </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if(giris_yapilmis) %}
      <div class="search_icon">
        <a href="/">
            <img src="{{ url_for('static',filename='images/user-icon.png') }}">
            <span class="padding_left_15">Log out</span>
        </a>
      </div>
      {% endif %}
      {% if(not giris_yapilmis) %}
      <div class="search_icon">
        <a href="/register">
            <img src="{{ url_for('static',filename='images/user-icon.png') }}">
            <span class="padding_left_15">Sign In</span>
        </a>
      </div>
      <div class="search_icon">
          <a href="/login">
            <img src="{{ url_for('static',filename='images/user-icon.png') }}">
            <span class="padding_left_15">Login</span>
          </a>
      </div>
      {% endif %}
    </div>
  </nav>
</div>
<!-- header section end -->

<!-- arrival section start -->
<div class="arrival_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-4">
        <img src="{{ url_for('static',filename='images/'+album.album_id+'.jpg') }}" class="image">
            <h1 class="album_text">{{album.album_ismi}}</h1>
            <h2 class="album_text2">{{album.odul}}</h2>
            {% for i in range(0, len_sanatci) %}
              <h2 class="album_text2">{{sanatci[i].sanatci_ismi}}</h2>
            {%endfor%}
        </img>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="image_2">
          <div class="mins_text">TRACKS
            <div class="mins_text_1">
              <style type = "text/css">
                a:link {color: #ececec}
                a:visited {color: #ececec}
                a:hover {color: #031a28}
                a:active {color: #ececec}
              </style>
              <ol>
                {% for i in range(0, len_sarki,10) %}
                    {% if(i < len_sarki) %}
                        <li><a href="/sarki/{{sarki_listesi[i].sarki_id}}">{{i+1}}{{+". "+sarki_listesi[i].sarki_ismi}}</a></li>
                    {% endif %}
                    {% if(i+1 < len_sarki) %}
                        <li><a href="/sarki/{{sarki_listesi[i+1].sarki_id}}">{{i+2}}{{+". "+sarki_listesi[i+1].sarki_ismi}}</a></li>
                    {% endif %}
                    {% if(i+2 < len_sarki) %}
                        <li><a href="/sarki/{{sarki_listesi[i+2].sarki_id}}">{{i+3}}{{+". "+sarki_listesi[i+2].sarki_ismi}}</a></li>
                    {% endif %}
                    {% if(i+3 < len_sarki) %}
                        <li><a href="/sarki/{{sarki_listesi[i+3].sarki_id}}">{{i+4}}{{". "+sarki_listesi[i+3].sarki_ismi}}</a></li>
                    {% endif %}
                    {% if(i+4 < len_sarki) %}
                        <li><a href="/sarki/{{sarki_listesi[i+4].sarki_id}}">{{i+5}}{{+". "+sarki_listesi[i+4].sarki_ismi}}</a></li>
                    {% endif %}
                    {% if(i+5 < len_sarki) %}
                        <li><a href="/sarki/{{sarki_listesi[i+5].sarki_id}}">{{i+6}}{{+". "+sarki_listesi[i+5].sarki_ismi}}</a></li>
                    {% endif %}
                    {% if(i+6 < len_sarki) %}
                        <li><a href="/sarki/{{sarki_listesi[i+6].sarki_id}}">{{i+7}}{{+". "+sarki_listesi[i+6].sarki_ismi}}</a></li>
                    {% endif %}
                    {% if(i+7 < len_sarki) %}
                        <li><a href="/sarki/{{sarki_listesi[i+7].sarki_id}}">{{i+8}}{{+". "+sarki_listesi[i+7].sarki_ismi}}</a></li>
                    {% endif %}
                    {% if(i+8 < len_sarki) %}
                        <li><a href="/sarki/{{sarki_listesi[i+8].sarki_id}}">{{i+9}}{{+". "+sarki_listesi[i+8].sarki_ismi}}</a></li>
                    {% endif %}
                    {% if(i+9 < len_sarki) %}
                        <li><a href="/sarki/{{sarki_listesi[i+9].sarki_id}}">{{i+10}}{{+". "+sarki_listesi[i+9].sarki_ismi}}</a></li>
                    {% endif %}
                {%endfor%}
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- arrival section end -->

<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<!-- sidebar -->
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/custom.js"></script>
<!-- javascript -->
<script src="js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script>
  $('#datepicker').datepicker({
    uiLibrary: 'bootstrap4'
  });
</script>
</body>
</html>