<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>MusicReviewer</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/responsive.css') }}">
    <!-- fevicon -->
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/jquery.mCustomScrollbar.min.css') }}">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!-- header section start -->
<div class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="logo" href="/homePage"><img src="{{ url_for('static',filename='images/logo.png') }}"></a>
        <h1 class="head">MUSIC REVIEWER </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="search_icon">
                <a href="/">
                    <img src="{{ url_for('static',filename='images/user-icon.png') }}">
                    <span class="padding_left_15">Log out</span>
                </a>
            </div>
        </div>
    </nav>
</div>
<!-- header section end -->

<!-- banner section end -->
<div class="banner_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                    <div class="banner_taital">Review songs in one place!</div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
<!-- banner section end -->

<!-- album section start -->
<div class="album_section layout_padding">
    <div class="container">
    {% for i in range(0, len, 5) %}
        <div class="album_section_2 layout_padding">
            {% if(i == 0)%}
                <h2 class="letest_text">ALBUMS</h2>
            {% endif %}
            <div class="album_main">
                <div class="iamge_album_main">
                    {% if(i < len) %}
                    <div class="image_album">
                        <div class="image_3">
                            <img src="{{ url_for('static',filename='images/'+album_listesi[i].album_id+'.jpg') }}" class="image" style="width:100%">
                            <div class="middle">
                                <a href="/album/{{album_listesi[i].album_id}}"><div class="seemore_bt">See More</div></a>
                            </div>
                        </div>
                        <h1 class="code_text2">{{album_listesi[i].album_ismi}}</h1>
                    </div>
                    {% endif %}
                    {% if(i+1 < len) %}
                    <div class="image_album">
                        <div class="image_3">
                            <img src="{{ url_for('static',filename='images/'+album_listesi[i+1].album_id+'.jpg') }}" class="image" style="width:100%">
                            <div class="middle">
                                <a href="/album/{{album_listesi[i+1].album_id}}"><div class="seemore_bt">See More</div></a>
                            </div>
                        </div>
                        <h1 class="code_text2">{{album_listesi[i+1].album_ismi}}</h1>
                    </div>
                    {% endif %}
                    {% if(i+2 < len) %}
                    <div class="image_album">
                        <div class="image_3">
                            <img src="{{ url_for('static',filename='images/'+album_listesi[i+2].album_id+'.jpg') }}" class="image" style="width:100%">
                            <div class="middle">
                                <a href="/album/{{album_listesi[i+2].album_id}}"><div class="seemore_bt">See More</div></a>
                            </div>
                        </div>
                        <h1 class="code_text2">{{album_listesi[i+2].album_ismi}}</h1>
                    </div>
                    {% endif %}
                    {% if(i+3 < len) %}
                    <div class="image_album">
                        <div class="image_3">
                            <img src="{{ url_for('static',filename='images/'+album_listesi[i+3].album_id+'.jpg') }}" class="image" style="width:100%">
                            <div class="middle">
                                <a href="/album/{{album_listesi[i+3].album_id}}"><div class="seemore_bt">See More</div></a>
                            </div>
                        </div>
                        <h1 class="code_text2">{{album_listesi[i+3].album_ismi}}</h1>
                    </div>
                    {% endif %}
                    {% if(i+4 < len) %}
                    <div class="image_album">
                        <div class="image_3">
                            <img src="{{ url_for('static',filename='images/'+album_listesi[i+4].album_id+'.jpg') }}" class="image" style="width:100%">
                            <div class="middle">
                                <a href="/album/{{album_listesi[i+4].album_id}}"><div class="seemore_bt">See More</div></a>
                            </div>
                        </div>
                        <h1 class="code_text2">{{album_listesi[i+4].album_ismi}}</h1>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {%endfor%}
    </div>
</div>
<!-- album section end -->

<!-- Javascript files-->
<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery-3.0.0.min.js') }}"></script>
<!-- sidebar -->
<script src="{{ url_for('static',filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/custom.js') }}"></script>
<!-- javascript -->
<script src="{{ url_for('static',filename='js/owl.carousel.js') }}"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script>
    $('#datepicker').datepicker({
        uiLibrary: 'bootstrap4'
    });
</script>
</body>
</html>